.home-container {
  margin-top: 50px;
}

.card {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
  margin-top: 15px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
